.ulh {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
  overflow: hidden;
  background-color:#60C4B6;
  text-align: center;
  font-size: 18px;
}

.lih {
  float: right;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}


.lih a {
  display: block;
  color:#FFFFFF;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #EEEEEE;
  color:#60C4B6;
}

#parent{

height: 150px;
}

#sideContent1 {padding:0;margin:auto;text-align:left; float:left; display:inline; width: 15%;}

#mainContent1 {font-size:20px;padding-top:25px;float:right; display:inline; width: 84%;}