.ulh {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
  overflow: hidden;
  background-color:#60C4B6;
  text-align: center;
  font-size: 18px;
}

.lih {
  float: left;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}


.lih a {
  display: block;
  color:#FFFFFF;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #EEEEEE;
  color:#60C4B6;
}
